<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ news.title }} - AILab动态</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logoonly.ico') }}">
    <!-- 外部资源 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- 主题样式 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme3.css') }}">
    <!-- 社刊详情页样式 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magazine-detail.css') }}">
</head>
<body>
    <!-- 导航栏 -->
    {% include 'components/navbar.html' %}

    <!-- 主要内容区 -->
    <main class="container py-10">
        {% include 'news/news_contents/'+news.id|string+'.html' %}
    </main>

    <!-- 底部区域 -->
    {% include 'components/footer.html' %}

    <!-- 引入JS资源 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.7.0/languages/python.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"></script>
    <script src="{{ url_for('static', filename='js/magazine-detail.js') }}"></script>
</body>
</html>